/**
  * Masonry CSS
*/
.pf-section-grid {
  display: flex;
  flex-flow: column wrap;
}
.pf-item-wrapper {
  overflow: hidden;
}
@media (min-width: 430px) {
  .pf-item-wrapper {
    width: 100%;
  }
  .pf-item-wrapper:nth-child(1) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(2) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(3) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(4) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(5) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(6) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(7) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(8) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(9) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(10) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(11) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(12) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(13) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(14) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(15) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(16) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(17) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(18) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(19) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(20) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(21) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(22) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(23) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(24) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(25) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(26) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(27) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(28) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(29) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(30) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(31) {
    order: 1;
  }
}
@media (min-width: 768px) {
  .pf-item-wrapper {
    width: 50%;
  }
  .pf-item-wrapper:nth-child(1) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(2) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(3) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(4) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(5) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(6) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(7) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(8) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(9) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(10) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(11) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(12) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(13) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(14) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(15) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(16) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(17) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(18) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(19) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(20) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(21) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(22) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(23) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(24) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(25) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(26) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(27) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(28) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(29) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(30) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(31) {
    order: 1;
  }
}
@media (min-width: 992px) {
  .pf-item-wrapper {
    width: 33.333333333333336%;
  }
  .pf-item-wrapper:nth-child(1) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(2) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(3) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(4) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(5) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(6) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(7) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(8) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(9) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(10) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(11) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(12) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(13) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(14) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(15) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(16) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(17) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(18) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(19) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(20) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(21) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(22) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(23) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(24) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(25) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(26) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(27) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(28) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(29) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(30) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(31) {
    order: 1;
  }
}
@media (min-width: 1500px) {
  .pf-item-wrapper {
    width: 25%;
  }
  .pf-item-wrapper:nth-child(1) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(2) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(3) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(4) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(5) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(6) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(7) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(8) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(9) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(10) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(11) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(12) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(13) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(14) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(15) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(16) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(17) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(18) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(19) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(20) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(21) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(22) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(23) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(24) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(25) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(26) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(27) {
    order: 3;
  }
  .pf-item-wrapper:nth-child(28) {
    order: 4;
  }
  .pf-item-wrapper:nth-child(29) {
    order: 1;
  }
  .pf-item-wrapper:nth-child(30) {
    order: 2;
  }
  .pf-item-wrapper:nth-child(31) {
    order: 3;
  }
}
/**
  * Theming
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 2px;
}
h1 {
  font-size: 42px;
  margin: 0;
  text-align: center;
}
.pf-item-wrapper {
  transform: scale(0);
  -webkit-animation: scaleIn 0.25s cubic-bezier(0.64, 0.57, 0.67, 1);
          animation: scaleIn 0.25s cubic-bezier(0.64, 0.57, 0.67, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.pf-grid-item {
  align-items: center;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 4px;
  min-height: 150px;
  padding: 10px;
}
.pf-item-wrapper:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.pf-item-wrapper:nth-child(1) .pf-grid-item {
  background: #7BA840;
}
.pf-item-wrapper:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.pf-item-wrapper:nth-child(2) .pf-grid-item {
  background: #63BCD3;
}
.pf-item-wrapper:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.pf-item-wrapper:nth-child(3) .pf-grid-item {
  background: #4C4D63;
}
.pf-item-wrapper:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.pf-item-wrapper:nth-child(4) .pf-grid-item {
  background: #96E2C5;
}
.pf-item-wrapper:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.pf-item-wrapper:nth-child(5) .pf-grid-item {
  background: #9599F2;
}
.pf-item-wrapper:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.pf-item-wrapper:nth-child(6) .pf-grid-item {
  background: #121536;
}
.pf-item-wrapper:nth-child(7) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.pf-item-wrapper:nth-child(7) .pf-grid-item {
  background: #BDF682;
}
.pf-item-wrapper:nth-child(8) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.pf-item-wrapper:nth-child(8) .pf-grid-item {
  background: #CA6512;
}
.pf-item-wrapper:nth-child(9) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.pf-item-wrapper:nth-child(9) .pf-grid-item {
  background: #D5B5EB;
}
.pf-item-wrapper:nth-child(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.pf-item-wrapper:nth-child(10) .pf-grid-item {
  background: #A556E8;
}
.pf-item-wrapper:nth-child(11) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}
.pf-item-wrapper:nth-child(11) .pf-grid-item {
  background: #DDD5F3;
}
.pf-item-wrapper:nth-child(12) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.pf-item-wrapper:nth-child(12) .pf-grid-item {
  background: #F4221B;
}
.pf-item-wrapper:nth-child(13) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}
.pf-item-wrapper:nth-child(13) .pf-grid-item {
  background: #19113F;
}
.pf-item-wrapper:nth-child(14) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.pf-item-wrapper:nth-child(14) .pf-grid-item {
  background: #FD607D;
}
.pf-item-wrapper:nth-child(15) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.pf-item-wrapper:nth-child(15) .pf-grid-item {
  background: #625919;
}
.pf-item-wrapper:nth-child(16) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.pf-item-wrapper:nth-child(16) .pf-grid-item {
  background: #CFE366;
}
.pf-item-wrapper:nth-child(17) {
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}
.pf-item-wrapper:nth-child(17) .pf-grid-item {
  background: #10B1A3;
}
.pf-item-wrapper:nth-child(18) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.pf-item-wrapper:nth-child(18) .pf-grid-item {
  background: #C89D16;
}
.pf-item-wrapper:nth-child(19) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.pf-item-wrapper:nth-child(19) .pf-grid-item {
  background: #7BA840;
}
.pf-item-wrapper:nth-child(20) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.pf-item-wrapper:nth-child(20) .pf-grid-item {
  background: #63BCD3;
}
.pf-item-wrapper:nth-child(21) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.pf-item-wrapper:nth-child(21) .pf-grid-item {
  background: #4C4D63;
}
.pf-item-wrapper:nth-child(22) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.pf-item-wrapper:nth-child(22) .pf-grid-item {
  background: #96E2C5;
}
.pf-item-wrapper:nth-child(23) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.pf-item-wrapper:nth-child(23) .pf-grid-item {
  background: #9599F2;
}
.pf-item-wrapper:nth-child(24) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.pf-item-wrapper:nth-child(24) .pf-grid-item {
  background: #121536;
}
.pf-item-wrapper:nth-child(25) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.pf-item-wrapper:nth-child(25) .pf-grid-item {
  background: #BDF682;
}
.pf-item-wrapper:nth-child(26) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.pf-item-wrapper:nth-child(26) .pf-grid-item {
  background: #CA6512;
}
.pf-item-wrapper:nth-child(27) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.pf-item-wrapper:nth-child(27) .pf-grid-item {
  background: #D5B5EB;
}
.pf-item-wrapper:nth-child(28) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.pf-item-wrapper:nth-child(28) .pf-grid-item {
  background: #A556E8;
}
.pf-item-wrapper:nth-child(29) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}
.pf-item-wrapper:nth-child(29) .pf-grid-item {
  background: #DDD5F3;
}
.pf-item-wrapper:nth-child(30) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.pf-item-wrapper:nth-child(30) .pf-grid-item {
  background: #F4221B;
}
.pf-item-wrapper:nth-child(31) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}
.pf-item-wrapper:nth-child(31) .pf-grid-item {
  background: #19113F;
}
@-webkit-keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
